body{
    background-color: black;
    color: white;
}
.container{
    height: 80vh;
    width: 98%;
    padding: 30px;
    background-color: (36, 37, 37);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    margin: 10px 10px; /* Adjust as needed */
    padding: 10px 16px; 
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
#start{
    background-color: green;
    color: white;           
    padding: 10px 20px;      
    border: none;            
    cursor: pointer;        
    border-radius: 5px;      
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
#start:hover{
    background-color: darkgreen; 
    transform: scale(1.05);     
}
#stop{
    background-color: rgb(234, 57, 57);
    color: white;           
    padding: 10px 20px;      
    border: none;            
    cursor: pointer;        
    border-radius: 5px;      
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
#stop:hover{
    background-color: rgb(255, 0, 0); 
    transform: scale(1.05);     
}
nav {
    background-color: #333; /* Dark background */
    padding: 10px 20px;
    text-align: left;
}

nav a {
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555; /* Dark gray on hover */
}
